.title {
  font-weight: 800;
  font-style: italic;
  font-size: 7rem;
  color: var(--green);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 1em 0 2.5em 0;
}

.desc {
  font-size: 2rem;
}

.count {
  color: var(--green);
  font-weight: 600;
}

.resetBtn {
  font-size: 1.8rem;
  background: var(--light-green);
  color: white;
  padding: 0.7em 1.4em;
  border-radius: 1.4em;
}
