@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap");

:root {
  --green: #157f0e;
  --light-green: #62d05a;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

button:hover {
  opacity: 0.85;
}

input {
  font: inherit;
}

#root {
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 48rem) {
  html {
    font-size: 50%;
  }
}
